<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <% if(success_msg) {%>
    <p><%= success_msg %></p>
    <%}%> <% if(fail_msg) {%>
    <p><%= fail_msg %></p>
    <%}%>
    <h1>this is login page</h1>
    <div class="loginform">
      <form action="/user/login" method="POST">
        <label for="email">email : </label>
        <input type="email" name="email" id="email" />
        <label for="pw">password : </label>
        <input type="password" name="pw" id="pw" />
        <button type="submit">Log In</button>
      </form>
    </div>
  </body>
</html>
